apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ KUBE_SERVICE_NAME }}
spec:
  replicas: 2
  template:
    metadata:
      labels:
        app: {{ KUBE_SERVICE_NAME }}
    spec:
      containers:
      - name: {{ KUBE_SERVICE_NAME }}
        image: "docker.socialwifi.com/{{ DOCKER_IMAGE_NAME }}"
        ports:
        - containerPort: {{ KUBE_SERVICE_PORT }}
      imagePullSecrets:
      - name: docker.socialwifi.com
