version: 2
jobs:
  build:
    docker:
      - image: python:3.6
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            pip install -r base_requirements.txt
            pip install -r dev_requirements.txt
            pip install -e .
      - run:
          name: run static analysis
          command: |
            flake8
            isort -c
