apiVersion: v1
kind: Service
metadata:
  name: {{ KUBE_SERVICE_NAME }}-livereload-development
spec:
  selector:
    app: {{ KUBE_SERVICE_NAME }}-livereload-development
  ports:
  - port: {{ KUBE_LIVE_RELOAD_PORT }}
    targetPort: {{ KUBE_LIVE_RELOAD_PORT }}
  type: NodePort
